.Login{
    text-align: center;
    width: 100%;
    max-width: 330px;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
    height: 100;
    border: 5px solid black;
    background-color: rgba(205, 214, 255, 0.746);
}
