.weather{
    text-align: center;
    font-family: serif;
    align-items: center;
}
.container{
    border: 5px solid black;
    padding: 15px;
    justify-content: space-between;
}
.title{
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1.3;
}
.city{
    border: none;
    border-bottom: 4px solid black;
    letter-spacing: 1px;
    line-height: 1;
}
.country{
    border: none;
    border-bottom: 4px solid black;
    letter-spacing: 1px;
} 

 